.custom-button {
  width: fit-content;
  height: 50px;
  margin: 5px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.custom-button.google-sign-in {
  background-color: #d00000;
  color: white;
}
.custom-button.google-sign-in:hover {
  background-color: #dc2f02;
  border: none;
}
.custom-button.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.custom-button.inverted:hover {
  background-color: black;
  color: white;
  border: none;
}
@media only screen and (max-width: 768px) {
  .custom-button {
    font-size: 10px;
    padding: 0 15px 0 15px;
  }
}
