.box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7vw;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}
.switchPage {
  width: 100%;
  max-width: 380px;
  display: flex;
  margin: auto;
  margin-top: 1vw;
}
