.box1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(34,34,34);

}
.sign-in {
    width: 90%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vw;
}
.sign-in .title {
    margin: 10px 0;
}
.sign-in .buttons {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.switchPage {
    width: 90%;
    max-width: 380px;
    display: flex;
    margin: auto;
    margin-top: 1vw;
}
