.sign-in{
    width:380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 7vw;

    .title{
        margin :10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}
.switchPage{
    width:380px;
    display: flex;
    margin: auto;
    margin-top: 1vw;
    
}