.aboutus{
    display: flex;
    flex-flow: column;
    background-color: rgb(34,34,34);
    color: white;
}

.magnate-theme{
    margin-top: 60px;
}

.magnate-theme h1{
    text-align: center;
    font-size: 50px;
    color: orangered;
}

.magnate-theme p{
    text-align: center;
    font-size: 40px;
}

.about-magnate{
    display: flex;
    flex-flow: column;
    padding:30px;
    padding-bottom: 70px;
}

.about-magnate-container{
    display: flex;
}

.about-magnate-content{
    width: 60%;
    font-size: 30px;
    margin: 20px;
}

.about-edc{
    display: flex;
    flex-flow: column;
}

.about-edc-container{
    display: flex;
}

.about-edc-content{
    width: 60%;
    font-size: 30px;
}

.about-edc-svg{
    width: 40%;
    border-radius: 10px;
    margin-left: 20px;
}

.about-magnate-svg{
    width: 40%;
    border-radius: 10px;
}

.about-edc h1{
    text-align: center;
    font-size: 50px;
    color: orangered;
}

.about-magnate h1{
    text-align: center;
    font-size: 50px;
    color: orangered;
    margin: 0 0 20px 20px;
}

@media (max-width : 900px){
    .about-edc-svg{
        display: none;
    }
    .about-magnate-svg{
        display: none;
    }
    .about-edc-content{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .about-magnate-content{
        width: 100%;
        text-align: center;
    }
    .about-magnate h1{
        text-align: center;
    }
    .about-edc h1{
        text-align: center;
    }
}