@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

.home {
  height: 100vh;
  width: 100vw;
}

.video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.video-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backdrop {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.logo-main {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: relative;
}

.magnate-name {
  padding: 40vh 30vw 20vh 10vw;
}

.magnate-name p:nth-child(1) {
  margin: 0;
  font-size: 670%;
  font-family: "Orelega One", cursive;
  color: white;
}

.magnate-name p:nth-child(2) {
  margin: 0;
  color: white;
}

.register-btn {
  height: 50px;
  width: 250px;
  background: orangered;
  outline: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border-radius: 100px;
}

.register-link {
  height: 99%;
  width: 99%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 200ms ease;
  font-size: 1.3em;
  border-radius: 100px;
}

.register-link:hover {
  background: rgb(22, 21, 20);
}


.event-heading {
    text-align: center;
    color: orangered;
    font-size: 5em;
}

.event-details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: rgb(20, 20, 20);
}

.draft {
    margin-top: 20px;
}

.options {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    background: orangered;
    overflow-x: auto;
}

.options div {
    cursor: pointer;
    color: white;
    width: auto;
    background: orangered;
    height: 100%;
    font-size: 2em;
    padding: 10px;
}

.option-content {
    height: 50vh;
    background: rgb(20, 20, 20);
    color: white;
    padding: 2em;
    font-size: 1.5em;
    overflow-y: auto;
    margin: 1em;
}

.option-content::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
    height: 30px;
}

.option-content::-webkit-scrollbar-track {
    background: rgb(14, 12, 12); /* color of the tracking area */
}

.option-content::-webkit-scrollbar-thumb {
    background-color: orangered; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    
    /* border: 3px solid orangered;  creates padding around scroll thumb */
}

.side-social{
  position: fixed;
  top: 50%;
  right: 0;
}

.instagram,.linkedin,.youtube{
  transform: translateX(75%);
  border-radius: 100px 0 0 100px;
  color: white;
  margin: 5px 0;
  transition: 100ms ease;
  font-size: 1.5em;
  padding: 8px;
}

.instagram p,.linkedin p,.youtube p{
  margin: 0;
}

.instagram{
  background-color: #E1306C;
}

.linkedin{
  background-color: #0e76a8;
}

.youtube{
  background-color: #FF0000;
}

.instagram:hover,.linkedin:hover,.youtube:hover{
  transform: translateX(0);
}

.icon-img{
  height: 10px;
  width: 10px;
}

.social-inner{
  display: flex;
  align-items: center;
}

.social-inner i{
  margin-right: 17px;
  color: white;
  margin-left: 5px;
}

@media (min-width: 1000px) {
  .magnate-name p:nth-child(1) {
    font-size: 7em;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .magnate-name p:nth-child(1) {
    font-size: 5em;
  }
}

@media (min-width: 450px) and (max-width: 599px) {
  .magnate-name p:nth-child(1) {
    font-size: 4em;
  }
}

@media (min-width: 250px) and (max-width: 449px) {
  .magnate-name p:nth-child(1) {
    font-size: 3em;
  }
  .options div{
      font-size: 1em;
  }
  .options{
      margin: 0 5px;
      border-radius: 2px;
      justify-content: space-between;
  }
}

