.box__forgot__password {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  flex-direction: column;
  background-color:rgb(34,34,34) ;
}
.forgot__password{
  width: 90%;
  max-width: 380px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
}