.box {
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot__password {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
