.app__body {
  background: none;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 55px;
  z-index: 1;
}
.app__body > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app__body__heading {
  color: rgb(255, 102, 0);
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  font-size: 200%;
  padding-top: 2%;
  margin-bottom: 2%;
}
.app__body__heading > a {
  color: rgb(255, 102, 0);
  top: 10;
  cursor: pointer;
}

.app__body__btn__holder {
  display: flex;
}
.app__body__btn {
  background-color: #ffffff;
  margin: 50px;
  margin-bottom: 100px;
  color: #2b2839;
  text-align: center;
  width: fit-content;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #2b2839;
}

.app__body__btn:hover {
  transition-duration: 20ms;
  -webkit-box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-bottom: 120px;
}

.app__body__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.app__body__cards > div {
  flex: 50%;
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .app__body__cards {
    flex-direction: column;
  }
  .app__body__cards > div {
    flex-direction: row;
    max-width: none;
  }
}

@media only screen and (max-width: 500px) {
  .app__body__cards {
    flex-direction: column;
  }
  .app__body__cards > div {
    flex-direction: column;
    max-width: none;
  }
}

.animation-area {
	background: rgb(34,34,34);
  position: fixed;
  z-index: -1;
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
